#nav
{
  text-align: left;
  height: 920px;
  width:150px;
  border-right: 1px solid;
  border-color: white;
  padding: 20px;
  padding-right: 90px;
  font-size: 20px;
}
#name{
  color: white;
  font-style: italic;
}

.home-icon{
  color:white;
  padding-right: 10px;
  font-size: 20px;
  
}
button{
  background-color: black;
  color: white;
}
#home{
  cursor: pointer;
  color:white;
  padding-top:30px;
}